{% extends 'base.html' %}

{% block title %} List of Albums
{% endblock %}

{% block content %}
    <div class="container-fluid my-3">
        <div class="container text-center">
            <a href="{% url 'music:song-list' %}" class="btn btn-danger mx-auto my-2">List of All Songs of All Albums</a>
        </div>
        <h3 class="text-center">List of Latest Albums</h3>

        <ul class="list-group">
            {% for album in object_list %}

                <li class="list-group-item">
                    <div class="container">
                        <div class="row justify-content-around">
                            <div class="col-sm-6">
                               <h4>{{ album.album_name }}</h4>
                            </div>

                            <div class="col-sm-4">
                                <a href="{% url 'music:album-detail' pk=album.id %}" class="btn btn-primary">View Album Songs</a>
                            </div>
                        </div>
                    </div>
                </li>

            {% endfor %}
        </ul>
    </div>

{% endblock %}